@font-face {
  font-family: 'NanumBarunpenR';
  src: url('../fonts/NanumBarunpenR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 300px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  background-color: #181c14;
  font-family: 'NanumBarunpenR', sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

#setting {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: none;
  background: #697565;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background: #ecdfcc;
}

.button img {
  width: 100%;
}

#settingButton {
  grid-column: 1 / 2;
}

#settingButton:hover img {
  animation: spin 2s linear infinite;
}

#backButton {
  grid-column: 1 / 2;
}

#calcButton {
  grid-column: 5 / 6;
}

#calcButton img {
  width: 95%;
}

#datePicker {
  grid-column: 2 / 5;
}

.infoLabel {
  color: #ecdfcc;
  font-size: 15px;
}

#resultLabel1 {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
}

#resultLabel2 {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
}

#resultLabel3 {
  grid-row: 4 / 5;
  grid-column: 1 / 6;
}

#inputAgeLabel {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
}

#agePicker {
  grid-row: 3 / 4;
  grid-column: 1 / 6;
}
